<h1>Personajes <small>The Rick and Morty</small></h1>
<div class="card-columns">
    <div class="card" style="width: 60%;">
        <img class="card-img-top" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="Rick">
        <div class="card-body">
          <h5 class="card-title">Rick Sanchez</h5>
          <p class="card-text">Human <br> Alive</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
      
</div>